<!-- Inherit the other header part from the base html -->
{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}   <!-- will be used to create the form to fill out shoppinglist -->
{% block content %}

<div class="container">
      <div class="row">
          <!-- <div class="col-md-6"></div> -->
          <div class="col-md-3">
                          <!--username  -->
              <hr>
          </div>
      </div>

      <!-- Tabs go here -->

      <div class="row">

        <div class="col-md-3">
          
          <ul class="nav nav-tabs nav-stacked">
            <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
            
          </ul>

        </div>

        <div class="col-md-6"> 
            
        </div>
        <div class="col-md-6"> 
          <!-- Tab content goes here -->

            <div class="tab-content">

                <div id="home" class="tab-pane fade in active">
                  <h3>HOME</h3>
                  <p>{{ utils.flashed_messages() }}</p>  
                   <!--Associate the logged in user with the lists according to email as key  -->
                  {% if session["email"] in new_shopping_cart.keys() %}                
                  <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>                            
                        </tr>
                      </thead>
                      <tbody>
                        <!-- users shopping list -->
                        
                        {% for list in new_shopping_cart[session["email"]] %}
                       <tr id="{{ list.id }}">
                          <td>{{ list.id }}
                          <td>{{ list.title }}</td>
                                                     
                        </tr>   
                        {% endfor %}                       
                        
                      </tbody>
                    </table>   
                    {% else %}
                    
                    <h4>You have no yet added any list </h4>
                    {% endif %}
                  
                </div>          

            </div>

        </div>
        
      </div>    
        
</div>

        
{% endblock %}