<!-- This is the base template to work with all other html pages. Making it easier carry over changes -->
<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    {% if title %}
    <!-- Site Properties -->
    <title>{{ title }} Home Page</title>

    {% else %}

    <title> Your Shopping List </title>

    {% endif %}

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 <body>

        <div class="jumbotron text-center">
          <h1>Create your Shopping List</h1>
          <p>Keep track of shopping items, manage and share it with your friends</p> 
        </div>

        {% block content %}{% endblock %}

        
</body>
</html>