<!-- Inherit the other header part from the base html -->
{% extends "base.html" %}

{% block content %}

<div class="container">
      <div class="row">
          <!-- <div class="col-md-6"></div> -->
          <div class="col-md-3">
              <h2>{{ email }} Select an option</h2>
              <hr>
          </div>
      </div>

      <!-- Tabs go here -->

      <div class="row">

        <div class="col-md-3">
          
          <ul class="nav nav-tabs nav-stacked">
            <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
            <li><a data-toggle="tab" href="#new">Create a new Lists</a></li>
            <li><a data-toggle="tab" href="#My Profile">Shared Lists</a></li>
            <li><a data-toggle="tab" href="#deleted">Dleted Lists</a></li>
          </ul>

        </div>

        <div class="col-md-6"> 
          <!-- Tab content goes here -->

            <div class="tab-content">

                <div id="home" class="tab-pane fade in active">
                  <h3>HOME</h3>
                  <p>List goes here by default</p>
                </div>

                <div id="new" class="tab-pane fade">
                   <!-- new start -->

                   <form class="form-horizontal" role="form" method="POST" action="{{ url_for('dashboard') }}">
                    
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="form-group has-danger">
                                <label class="control-label col-sm-3" for="email"> Name</label>
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                                    <input type="text" name="item" class="form-control" id="item"
                                           placeholder="Unga" required autofocus>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-control-feedback">
                                <span class="text-danger align-middle">
                                    <!-- <i class="fa fa-close"></i> Example error message --> <!-- Uncomment for the error to show up -->
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="password">Price</label>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                        <input type="number" name="price" class="form-control" id="price"
                                               placeholder="235" required>
                                    </div>
                                </div>
                            </div>
                            
                        </div>  
                        
                        <div class="row">
                          <div class="col-md-3"></div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="control-label col-sm-3" for="password">Quantity</label>
                                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                      <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                      <input type="number" name="quantity" class="form-control" id="quantity"
                                             placeholder="235" required>
                                  </div>
                              </div>
                          </div>
                          
                      </div>
                        
                        <div class="row" style="padding-top: 1rem">
                          <div class="col-md-3"></div>
                          <div class="col-md-6">
                              <button type="submit" class="btn btn-success"><i class="fa fa-sign-in">Save</i></button>
                              
                          </div>
          
                          
                      </div>
                                
                </form>

            </div>

                   <!-- New end -->

                <div id="shared" class="tab-pane fade">
                  <h3>Items that you have shared with your friends</h3>
                  <p>Shared content go here</p>
                </div>

                <div id="deleted" class="tab-pane fade">
                  <h3>Below is a list of your deleted items</h3>
                  <p> Deleted Lists come here .</p>
                </div>

              </div>

        </div>
        
      </div>    
        
</div>

        
{% endblock %}